AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
LANDING_BUCKET=sap-analytics-migration-dev-landing
CURATED_BUCKET=sap-analytics-migration-dev-curated
LOCAL_ROLE_NAME=sap-analytics-migration-dev-etl-role
LOCAL_VPC_NAME=sap-analytics-migration-dev-vpc
LOCAL_SECRET_NAME=sap-analytics-migration/dev/postgres
LOCAL_LOG_GROUP=/sap-analytics-migration/dev/etl
LOCALSTACK_PORT=4566
LOCALSTACK_DEBUG=0

POSTGRES_DB=analytics
POSTGRES_HOST=localhost
POSTGRES_USER=analytics_app
POSTGRES_PASSWORD=local_dev_only
POSTGRES_PORT=5432
